html,
body {
  margin: 0;


  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;


  background-color: #ffffff;

}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  
  padding-top: 49px;
 
  background-color: #eeeeee;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 1160px;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  

  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  }

.navigation-menu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;

}

.basket {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  padding-right: 0;
  
  color: #000000;
}

.basket {
  position: relative;
  padding-left: 50px;
}


.basket::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 55px;
  
  width: 17px;
  height: 18px;
  
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  
}

.navigation-menu,
.button {
  list-style: none;
}

.navigation-menu a {
  color: #000000;
}



.navigation-menu a:hover,
.navigation-menu a:focus {
  color: #fb565a;
}

.slider-navigation {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-main {
  
 
  
  width: 1160px;
  margin: 0 auto;
  
  padding: 0;
  
 
  padding-left: 20px;
  padding-right: 20px;
  
  
  list-style: none;
}

.slider-items {
  
  padding: 78px 0 80px 0;
}

.slider-items {
  display: none;
}

.slider-items:nth-child(2) {
  display: block;
}

.slider-controls .active::before {
  
}

.slider-items:nth-child(1) {
  
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-items:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-items:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8x;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;
}


.slider-controls .active::before {
  
}

.slider-main h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-main p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  
  
  font-size: 16px;
  line-height: 24px;
}

.catalog {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 150px;
}

.catalog-list {
  
  
  display: flex;
  justify-content: space-between;
  list-style: none;
  
  margin-top: 80px;

 
  padding-left: 0;
  padding-right: 0;
  

  list-style: none;
}

.catalog-item {
  
  width: 300px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  
}

.catalog-item b {
  
  font-size: 24px;
  line-height: 30px;
}

.catalog-item p {
  
  
  font-size: 16px;
  line-height: 24px;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}



.basket:hover,
.basket:focus {
  color: #fb565a;
}

.button-red {
  display: block;
  width: 160px;
  padding: 13px 0;
  
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;

}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green {
  display: block;
  width: 160px;
  padding: 13px 0;
  
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #00ca74;
  color: #ffffff;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534
}

.button-yellow {
  display: block;
  width: 160px;
  padding: 13px 0;
  
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  
  background-color: #efc84a;
  color: #ffffff;
}

.button-slider {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  
}

.button-slider:hover,
.button-slider:focus  {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  
}

.main-studio {
  display: flex;
  justify-content: space-between;
  
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 140px;
}



.studio {
  
  width: 660px;
  height: 430px;
  
}

.studio-accuracy {
  
  width: 360px;
  height: 430px;
}

.studio-items {
  
  
  font-size: 16px;
  line-height: 24px;
  
}




.studio h2 {
  font-size: 45px;
  line-height: 45px;
}

.studio p {
  font-size: 16px;
  line-height: 24px;
}

.studio ul {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  list-style: none;

}



.studio-percent th {
  font-size: 45px;
  line-height: 10px;
}

.studio-percent td {
  font-size: 16px;
  line-height: 18px;
  
  padding: 23px;
}

.studio-percent th {
  padding: 20px;
}

.studio-items h3 {
  padding-bottom: 45px;
}

.brand-item {
  list-style: none;
  
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 130px;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  
  }



.brand li {
  text-align: center;
  list-style: none;
  
}

.social {
  text-align: center;
  
  display: flex;
  width: 1160px;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.social-networks {
  width: 260px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  
  list-style: none;
}

.sentence {
  display: block;
  margin-left: 140px;
  align-items: center;
  
  width: 540px;
}

.social-button {
  
  color: #000000;
}

.social-sentence {
  font-size: 36px;
  line-height: 36px;
}

.social-sale {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}


.inner-page {
  color: #000000;
  
}

.title {
  background-color: #eeeeee;
  
}

.page-title {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
  
  padding-bottom: 180px;
  padding-top: 100px;
  
  padding-left: 20px;
  padding-right: 20px;
  
  margin-left: auto;
  margin-right: auto;
  
  font-size: 55px;
  line-height: 55px;
}

.main-inner {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  
}


.filters {
  width: 300px;
  
}

.filter legend {
  margin-bottom: 26px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option {
  position: relative;
  
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-input-checkbox  + label::before{
  content: "";
  position: absolute;
  left: -12px;
  top: 0px;
  
  width: 26px;
  height: 26px;
  
  border: 5px solid #a6a6a6;
  border-radius: 50%;
}

.filters-input-checkbox + label::after{
  content: "";
  
  position: absolute;
  left: 0px;
  top: 12px;
  
  width: 9px;
  height: 9px;
  
  background-color:  #a6a6a6;
  border-radius: 50%;
}

.filters fieldset {
  border: none;
}


.filters ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.filters-input:hover + label,
.filters-input:focus + label {
  color: #283136;
}

.filters-input:disabled + label {
  color: #bec1c2;

  opacity: 0.5;
}


.filter-button {
  display: inline-block;
  margin-right: 16px;
  padding: 16px 88px;
  
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus{
  background-color: #dfdfdf;
}

.sort-main {
  display: flex;
}

.sort {
  font-size: 18px;
  line-height: 30px;
}


.breadcrumbs {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  
  font-size: 14px;
  list-style: none;
}

.breadcrumbs a {
  color: #b2b2b2;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #666666;
}

section.product {
  width: 760px;
}

.product-list {
  list-style: none;
  
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-items {
  list-style: none;
  width: 360px;
  
}

.catalog-items a {
  display: flex;
  flex-direction: column;
}

.catalog-items h3 {
  
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.catalog-items p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  display: flex;
  
  
  
  margin: auto;
  
  padding-right: 50px;
  padding-left: 50px;
  margin: 0;
  padding: 0;
  
  
  width: 460px;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list a {
  display: block;
  padding: 10px 19px;
  
  color: #000000;
  background-color: #eeeeee;
  border-radius: 2px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  background-color: #ffffff;
}

.footer-info {
  position: relative;
  overflow: hidden;
  height: 416px;
  padding-bottom: 68px;
  
}

.footer-info img {
  width: 1440px;
  height: 416px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -720px;
  
}

.contact-wrapper {
  
  width: 1160px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contact {
  position: relative;
  
  
  width: 320px;
  height: 308px;
  background-color: #ffffff;
}


.contact h3 {
  font-size: 18px;
  line-height: 30px;
  
  padding-top: 54px;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}



.footer-contacts  {
  color: #989898;
  font-size: 16px;
  line-height: 18px;
  
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}

.modal {
  display: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
  transition: 0.9s all;
}

.button-footer {
  display: block;
  width: 160px;
  padding: 13px 0;
  
  
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}